@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  
          box-sizing: border-box;
  
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.back{
  zoom: 80%;
  background-image: linear-gradient(to right bottom, #789cff, #617fdd, #4964bc, #314a9b, #16317c);
}
.heading{
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
.upper{
  color:#fff;
}
.mid{
  text-align: center;
  font-size: large;
  color: #fff;
}
h1{
  color: aqua;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #29d9d5;
  border: 0.2rem solid #29d9d5;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}
.btn:hover {
  background: #29d9d5;
  color: #111;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba( 9, 22, 61, 0.7 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8px );
-webkit-backdrop-filter: blur( 8px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 9%;
}
.header .navbar a {
  font-size: 1.3rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
}
.header .navbar a:hover {
  color: #29d9d5;
  text-decoration: none;
}
.header .btn {
  margin-top: 0;
}
.logo {
  font-size: 2rem;
  color: #fff;
  font-weight: bolder;
}
.logo i {
  font-size: 2rem;
  color: #29d9d5;
  padding-right: .5rem;
}
.logo:hover{
  text-decoration: none;
  color: #fff;
}
#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
.custom{
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
.btn-1 {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1199);
  background-image: -moz-linear-gradient(top, #11cdd4, #1199);
  background-image: -ms-linear-gradient(top, #11cdd4, #1199);
  background-image: -o-linear-gradient(top, #11cdd4, #1199);
  background-image: linear-gradient(to bottom, #11cdd4, #1199);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 1.75rem;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  text-decoration: none;
}
.first-container{
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Findianexpress.com%2Farticle%2Flifestyle%2Flife-style%2Fhappy-international-yoga-day-2020-wishes-images-quotes-whatsapp-status-messages-and-photos-6465323%2F&psig=AOvVaw2i-KNI2MFp9jMdKxg6jDyL&ust=1647697305740000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJjcuIvlz_YCFQAAAAAdAAAAABAD);
  background-repeat: no-repeat;
}
.btn-1:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.first{
  float: left;
  padding-bottom: 37.5rem;
  height: 46rem;
  width: 42.1875rem;
  padding: 3.75rem;
  margin: 3.125rem;
  text-align: center;
  display: flex;
  transition-property: unset;
  transition-duration: 0.5s;
  color: #fff;
    background: rgba( 9, 22, 61, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.first:hover{
  width: 45rem;
  background-image: linear-gradient(to left bottom, #051937, #0d315f, #144b8b, #1767ba, #1284eb);
}
.stress{
  text-align: center;
  padding-top: 5%;
  color: #fff;
}
.weight{
  text-align: center;
  color: #fff;
  padding-top: 3.125rem;
}
.first1{
  float: left;
  padding-bottom: 37.25rem;
  height: 46rem;
  width: 42.1875rem;
  padding: 3.725rem;
  margin: 3.125rem;
  text-align: center;
  display: flex;
  color: #fff;
  transition-property: unset;
  transition-duration: 0.5s;
  background: rgba( 9, 22, 61, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.first1:hover{
 width: 45rem;
 background-image: linear-gradient(to left bottom, #051937, #0d315f, #144b8b, #1767ba, #1284eb);
}
.Contactme{
  background-color: yellow;
}
html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 0.6rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #29d9d5;
  border-radius: 5rem;
}
.backgroundimage {
  background-image: url("/pictures/pp2.jpg");
  width: 100vw;
  height: 100vh; 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  } 
nav
{
overflow: auto;
}
.credit {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: #aaa;
}
.credit span {
  color: #29d9d5;
}
@media (max-width: 918px){
.first{
  width: auto;
}
.first:hover{
  font-size: 110%;
  width: auto;
  background-image: linear-gradient(to left bottom, #051937, #0d315f, #144b8b, #1767ba, #1284eb);
}
.hovercompatible:hover{
  font-size: 110%;
  width: auto;
  background-image: linear-gradient(to left bottom, #051937, #0d315f, #144b8b, #1767ba, #1284eb);
}
.first1{
  width: auto;
}
.first1:hover{
  font-size: 110%;
  width: auto;
  background-image: linear-gradient(to left bottom, #051937, #0d315f, #144b8b, #1767ba, #1284eb);
}
}