@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 0.6rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #29d9d5;
  border-radius: 5rem;
}

body{
    text-align: center;
    background-image: linear-gradient(to right bottom, #789cff, #617fdd, #4964bc, #314a9b, #16317c);
    font-family:bavro;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #29d9d5;
  border: 0.2rem solid #29d9d5;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}
.btn:hover {
  background: #29d9d5;
  color: #111;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba( 9, 22, 61, 0.7 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8px );
-webkit-backdrop-filter: blur( 8px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 9%;
}
.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
}
.header .navbar a:hover {
  color: #29d9d5;
  text-decoration: none;
}
.header .btn {
  margin-top: 0;
}
.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}
.logo i {
  color: #29d9d5;
  padding-right: .5rem;
}
.logo:hover{
  text-decoration: none;
  color: #fff;
}
#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

img{
    width: 50%;
    margin: auto;
}

  .first{
    float: left;
  padding-bottom: 37.5rem;
  padding: 3.75rem;
  height: 55rem;
  text-align: center;
  display: flex;
  transition-property: unset;
  transition-duration: 0.5s;
  color: #fff;
  }
  .morphism{
    padding: 1rem;
    background: rgba( 9, 22, 61, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  h1{
    color: aliceblue;
  }

  h5{
    color: aliceblue;
  }

  h4{
    color: aliceblue;
  }
.morphism:hover{
  background-image: linear-gradient(to left bottom, #051937, #0d315f, #144b8b, #1767ba, #1284eb);
}
.credit {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: #aaa;
}
.credit span {
  color: #29d9d5;
}